/**
* SassFlexbox
* Manage Flexbox in Sass easily.
*
* @author     Samuel Marchal (zessx)
* @version    0.1
*/
/*
    Display
 */
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i|Yanone+Kaffeesatz:300,400");
.page-header, .page-image-bg, .page-image-top, .page-video, .page-timeline, .page-content-container, .event-container, .event-date {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/*
    Flex direction
 */
.event-container, .event-date {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.page-header, .page-image-bg, .page-image-top, .page-video, .page-timeline, .page-content-container {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/*
    Flex wrap
 */
.page-header, .page-image-bg, .page-image-top, .page-video, .page-timeline, .page-content-container, .event-container, .event-date {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap; }

/*
    Flex flow
 */
/*
    Order
 */
/*
    Flex grow
 */
/*
    Flex shrink
 */
/*
    Flex basis
 */
/*
    Flex
 */
/*
    Justify content
 */
.event-container {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-flex-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.event-date {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-flex-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.page-header, .page-image-bg, .page-image-top, .page-video, .page-timeline, .page-content-container, .page-video .page-content-container {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center; }

.page-header .page-content-container {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-flex-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

/*
    Align items
 */
.event-container {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.page-header, .page-image-bg, .page-image-top, .page-video, .page-timeline, .event-date, .page-video .page-content-container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

/*
    Align self
 */
.page-video-footer {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  align-self: flex-start; }

.page-video-header {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  align-self: flex-end; }

/*
    Align content
 */
.page-image-bg .header-block, .page-timeline .page-content-container {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  align-content: flex-start; }

.header-page-1 .header-block, .header-page-2 .header-block {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  align-content: flex-end; }

.page-video .page-content-container {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  -moz-align-content: center;
  align-content: center; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0; }

body {
  overflow-x: hidden; }

body,
h1 {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400; }

h2, a:link, a:hover, a:active, a:visited {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  letter-spacing: .04rem;
  line-height: 120%; }

h1 {
  text-transform: lowercase; }

h2 {
  font-weight: 400; }

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  text-transform: uppercase; }

body {
  overflow-x: hidden; }

.page-header, .page-image-bg, .page-image-top, .page-video, .page-timeline {
  max-width: 100vw; }

.page-header, .page-image-bg, .page-image-top, .page-video {
  height: 100vh;
  max-height: 100vh; }

.page-timeline {
  min-height: 100vh; }

.page-content-container {
  max-width: 900px;
  width: 90vw; }

@media (max-width: 600px) {
  .page-header h1 {
    font-size: 7.25vmax; }
  .page-header h2 {
    font-size: 3vmax; }

  .page-image-top h1 {
    font-size: 8.5vmax; }
  .page-image-top h2 {
    font-size: 3vmax; }

  .page-timeline h1 {
    font-size: 5vmax; }
  .page-timeline .event-date h2 {
    font-size: 2vmax; }
  .page-timeline .event-text {
    font-size: 2vmax; }

  .page-video-header h1 {
    font-size: 4.25vmax; }
  .page-video-header h2 {
    font-size: 2.75vmax; }

  .page-video-footer {
    font-size: 1.75vmax; } }
@media (min-width: 601px) {
  .page-header h1 {
    font-size: 5.75vmax; }
  .page-header h2 {
    font-size: 2.5vmax; }

  .page-image-top h1 {
    font-size: 8vmax; }
  .page-image-top h2 {
    font-size: 2.5vmax; }

  .page-timeline h1 {
    font-size: 4.5vmax; }
  .page-timeline .event-date h2,
  .page-timeline .event-text {
    font-size: 1.75vmax; }

  .page-video-header h1 {
    font-size: 3.75vmax; }
  .page-video-header h2 {
    font-size: 2.25vmax; }

  .page-video-footer {
    font-size: 1.75vmax; } }
@media (min-width: 1001px) {
  .page-header h1 {
    font-size: 5.25vmax; }
  .page-header h2 {
    font-size: 2vmax; }

  .page-image-top h1 {
    font-size: 7.5vmax; }
  .page-image-top h2 {
    font-size: 2vmax; }

  .page-timeline h1 {
    font-size: 4vmax; }
  .page-timeline .event-date h2 {
    font-size: 1.25vmax; }
  .page-timeline .event-text {
    font-size: 1.25vmax; }

  .page-video-header h1 {
    font-size: 3.25vmax; }
  .page-video-header h2 {
    font-size: 1.75vmax; }

  .page-video-footer {
    font-size: 1.5vmax; } }
.current-page {
  -webkit-animation: page 1.25s ease-in 0s 1 normal;
  animation: page 1.25s ease-in 0s 1 normal; }

@-webkit-keyframes page {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes page {
  0% {
    transform: translateY(0); }
  20% {
    transform: translateY(0); }
  40% {
    transform: translateY(-20px); }
  50% {
    transform: translateY(0); }
  60% {
    transform: translateY(-10px); }
  80% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }
.event-container:nth-child(n+3) .event-date {
  padding-top: 30px; }
.event-container:nth-child(n+3) .event-text {
  padding-top: 24px; }
.event-container:nth-child(2) .event-date {
  padding-top: 20px; }
.event-container:nth-child(2) .event-text {
  padding-top: 14px; }
.event-container:last-child .event-date,
.event-container:last-child .event-text {
  padding-bottom: 10px; }

.event-container {
  border-right: 2px solid transparent;
  padding-left: 4vmax;
  padding-right: 4vmax; }

.event-date {
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -webkit-box-flex: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 70px;
  -moz-flex-basis: 70px;
  -ms-flex-preferred-size: 70px;
  flex-basis: 70px;
  margin-right: -6px;
  margin-top: -.75rem;
  max-width: 200px; }
  .event-date h2 {
    padding: 3px 5px; }
  .event-date .date-box-line {
    -webkit-flex-grow: 1;
    -webkit-box-flex: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 2;
    -webkit-box-flex: 2;
    -moz-flex-shrink: 2;
    -ms-flex-negative: 2;
    flex-shrink: 2;
    -webkit-flex-basis: 5vw;
    -moz-flex-basis: 5vw;
    -ms-flex-preferred-size: 5vw;
    flex-basis: 5vw; }

.event-dot {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  z-index: 25; }

.event-text {
  -webkit-flex-grow: 3;
  -webkit-box-flex: 3;
  -moz-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  -webkit-flex-shrink: 1;
  -webkit-box-flex: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 240px;
  -moz-flex-basis: 240px;
  -ms-flex-preferred-size: 240px;
  flex-basis: 240px;
  max-width: 780px;
  min-height: 15vh;
  padding-left: 20px; }

.page-header .page-content-container {
  max-height: 90vh;
  min-height: 60vh; }
.page-header .bracket-top,
.page-header .bracket-bottom,
.page-header .header-block {
  max-width: 900px;
  width: 90vw; }
.page-header .header-block {
  margin: -10vh auto;
  padding: 0 5vmax; }
.page-header h1 {
  display: inline-block;
  margin: 12px auto 15px;
  padding-bottom: 5px;
  margin-bottom: 20px; }
.page-header h2 {
  font-weight: 300; }

.page-image-bg {
  text-align: left;
  background-size: cover; }
  .page-image-bg .page-content-container h1 {
    margin-bottom: 20px; }
  .page-image-bg .page-content-container h2 {
    text-transform: uppercase; }

.page-image-top {
  min-width: 100vw; }

.page-timeline-header {
  padding: 4vmax 4vmax 1.75vmax;
  text-align: right; }

.event-text {
  letter-spacing: 0; }

.page-video {
  padding: 20px 0 35px; }
  .page-video .page-content-container {
    max-height: 90vh;
    min-height: 60vh; }

.page-video-header {
  text-align: right; }
  .page-video-header h1 {
    display: inline-block;
    padding: 5px 5px 5px 30px; }
  .page-video-header h2 {
    font-weight: 300;
    padding: 10px 5px 40px 5px; }

.page-video-footer {
  padding: 40px 30px 5px 5px;
  text-align: left; }
  .page-video-footer a {
    font-weight: 300; }

.video-container {
  max-width: 90vw;
  position: relative; }
  .video-container iframe {
    position: absolute;
    z-index: 1111; }

.video-overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 11111; }

.video {
  display: block; }

.video-player-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
  border-radius: 10px; }
  .video-player-button:hover {
    cursor: pointer; }
  .video-player-button img {
    height: 40px;
    margin: 4px 14px; }

.progress-bar-container {
  position: absolute;
  top: -15px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden; }

.progress-bar {
  height: 20px;
  max-width: 100%;
  float: left;
  border-radius: 10px; }

.image-page-1 {
  color: #fff; }
  .image-page-1 .page-image-top {
    background-color: rgba(1, 27, 35, 0.7); }
    .image-page-1 .page-image-top .page-content-container h1 {
      border-bottom: 2px solid #3cc47c; }

.image-page-2 {
  color: #fff; }
  .image-page-2 .page-image-top {
    background-color: rgba(1, 27, 35, 0.7); }
    .image-page-2 .page-image-top .page-content-container h1 {
      border-bottom: 2px solid #fcafa9; }

.timeline-page-1 {
  background-color: #fff;
  color: #011b23; }
  .timeline-page-1 .event-container:last-child {
    border-right: 2px solid #fcafa9;
    border-bottom: 2px solid #fcafa9;
    padding-bottom: 4vh; }
  .timeline-page-1 .event-date h2 {
    border: 2px solid #3cc47c;
    color: #011b23; }
  .timeline-page-1 .event-date .date-box-line {
    border-top: 2px solid #3cc47c; }
  .timeline-page-1 .event-text {
    border-left: 2px solid #011b23; }
  .timeline-page-1 .page-timeline-header {
    border-top: 2px solid #fcafa9;
    border-left: 2px solid #fcafa9; }
  .timeline-page-1 .event-dot {
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #3cc47c;
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #3cc47c;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #3cc47c;
    background-color: #3cc47c;
    height: 12px;
    width: 12px; }
  .timeline-page-1 .link-dot {
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fcafa9;
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fcafa9;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fcafa9;
    background-color: #fcafa9;
    height: 12px;
    width: 12px; }

.timeline-page-2 {
  background-color: #fff;
  color: #011b23; }
  .timeline-page-2 .event-container:last-child {
    border-right: 2px solid #3cc47c;
    border-bottom: 2px solid #3cc47c;
    padding-bottom: 4vh; }
  .timeline-page-2 .event-date h2 {
    border: 2px solid #fcafa9;
    color: #011b23; }
  .timeline-page-2 .event-date .date-box-line {
    border-top: 2px solid #fcafa9; }
  .timeline-page-2 .event-text {
    border-left: 2px solid #011b23; }
  .timeline-page-2 .page-timeline-header {
    border-top: 2px solid #3cc47c;
    border-left: 2px solid #3cc47c; }
  .timeline-page-2 .event-dot {
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fcafa9;
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fcafa9;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #fcafa9;
    background-color: #fcafa9;
    height: 12px;
    width: 12px; }
  .timeline-page-2 .link-dot {
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #3cc47c;
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #3cc47c;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #3cc47c;
    background-color: #3cc47c;
    height: 12px;
    width: 12px; }

.header-page-1 {
  text-align: right;
  color: #fff;
  background-color: #011b23; }
  .header-page-1 .bracket-top {
    border: 2px solid #fcafa9;
    height: 20vh;
    border-bottom: 0; }
  .header-page-1 .bracket-bottom {
    border: 2px solid #fcafa9;
    height: 20vh;
    border-top: 0; }
  .header-page-1 h1 {
    border-bottom: 2px solid #3cc47c; }

.header-page-2 {
  text-align: right;
  color: #fff;
  background-color: #011b23; }
  .header-page-2 .bracket-top {
    border: 2px solid #3cc47c;
    height: 20vh;
    border-bottom: 0; }
  .header-page-2 .bracket-bottom {
    border: 2px solid #3cc47c;
    height: 20vh;
    border-top: 0; }
  .header-page-2 h1 {
    border-bottom: 2px solid #fcafa9; }

.video-page-1 {
  color: #011b23;
  background-color: #fff; }
  .video-page-1 .page-video-header h1 {
    border-bottom: 2px solid #3cc47c; }
  .video-page-1 .page-video-footer {
    border-bottom: 2px solid #fcafa9; }
  .video-page-1 .video-overlay {
    background-color: rgba(1, 27, 35, 0.3); }
  .video-page-1 .video-player-button {
    color: #fff;
    background: #fcafa9; }
  .video-page-1 .progress-bar-container {
    background-color: rgba(1, 27, 35, 0.3); }
  .video-page-1 .progress-bar {
    background-color: #3cc47c; }
  .video-page-1 a:link, .video-page-1 a:hover, .video-page-1 a:active, .video-page-1 a:visited {
    color: #011b23; }

.video-page-2 {
  color: #011b23;
  background-color: #fff; }
  .video-page-2 .page-video-header h1 {
    border-bottom: 2px solid #fcafa9; }
  .video-page-2 .page-video-footer {
    border-bottom: 2px solid #3cc47c; }
  .video-page-2 .video-overlay {
    background-color: rgba(1, 27, 35, 0.3); }
  .video-page-2 .video-player-button {
    color: #fff;
    background: #3cc47c; }
  .video-page-2 .progress-bar-container {
    background-color: rgba(1, 27, 35, 0.3); }
  .video-page-2 .progress-bar {
    background-color: #fcafa9; }
  .video-page-2 a:link, .video-page-2 a:hover, .video-page-2 a:active, .video-page-2 a:visited {
    color: #011b23; }

/*# sourceMappingURL=styles.css.map */
