.page-timeline {
  @extend %page-fit-content;
  @include add-flex(column, nowrap);

  .page-content-container {
    @extend %align-content-flex-start;
  }
}

.page-timeline-header {
  padding: 7vh 7vh 20px;
  text-align: right;
}

.event-text {
  letter-spacing: 0;
}

// @mixin event-dot($color1, $color2, $diameter)
// @mixin event-container($text-color, $highlight-color)

@mixin page-timeline($background-color, $text-color, $highlight-color, $link-color, $dot-diameter) {

  @include event-container($text-color, $highlight-color, $link-color);

  background-color: $background-color;
  color: $text-color;

  .page-timeline-header {
    border-top: $single-border $link-color;
    border-left: $single-border $link-color;
  }

  .event-dot {
    @include event-dot($highlight-color, $background-color, $dot-diameter);
  }

  .link-dot {
    @include event-dot($link-color, $background-color, $dot-diameter);
  }
}
