// MASTER
.page-video {
  @extend %page-cover-visible;
  @include add-flex(column, nowrap);

  .page-content-container {
    @extend %justify-content-center;
    @extend %align-items-center;
    @extend %align-content-center;
    max-height: 90vh;
    min-height: 60vh;
  }

  h1 {
    display: inline-block;
    font-size: 3.5vmax;
    margin: 12px auto 15px;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 2.75vmax;
    font-weight: 300;
  }
}

.video-container {
  max-width: 90vw;
  position: relative;

  iframe,
  .video-overlay {
    margin-top: -8px;
  }

  .progress-bar-container:last-child {
    margin-top: -12px;
  }
}

.video-overlay {
  margin-top: -8px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 11111;
}

.video {
  display: block;
}

.video-player-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
  font-size: 30px;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }

  img {
    height: 40px;
    margin: 4px 14px;
  }
}

.progress-bar-container {
  height: 20px;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

.progress-bar {
  height: 20px;
  max-width: 100%;
  float: left;
  border-radius: 10px;
}

// INSTANCES
@mixin video-page($text-color, $background-color, $overlay-color, $overlay-opacity, $accent-color-1, $accent-color-2) {
  color: $text-color;
  background-color: $background-color;

  .page-timeline-header {
    text-align: right;
  }

  .video-overlay {
    background-color: transparentize($overlay-color, $overlay-opacity);
  }

  .video-player-button {
    color: $background-color;
    background: $accent-color-1;
  }

  .progress-bar-container {
    background-color: transparentize($text-color, $overlay-opacity);
  }

  .progress-bar {
    background-color: $accent-color-2;
  }
}
