// MASTER
.page-video {
  @extend %page-cover-visible;
  @include add-flex(column, nowrap);

  .page-content-container {
    @extend %justify-content-center;
    @extend %align-items-center;
    @extend %align-content-center;
    max-height: 90vh;
    min-height: 60vh;
  }

  h1 {
    display: inline-block;
    font-size: 3.5vmax;
    margin: 12px auto 15px;
    padding-bottom: 5px;
  }

  h2 {
    font-size: 2.75vmax;
    font-weight: 300;
  }
}

// INSTANCES
@mixin header-page($alignment, $text-color, $background-color, $border-color, $header-border-color) {
  @include header-content-align($alignment);
  color: $text-color;
  background-color: $background-color;

  h1 {
    border-bottom: $single-border $header-border-color;
  }
}

.video-container {
  max-width: 90vw;
  position: relative;

  iframe,
  .video-overlay {
    margin-top: -8px;
  }

  .progress-bar-container:last-child {
      margin-top: -12px;
    }
}

.video-overlay {
  margin-top: -8px;
  background-color: transparentize($rose, .7);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 11111;
}

.video {
  display: block;
}

.video-player-button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
  color: $white;
  font-size: 30px;
  border-radius: 10px;
  background-color: $petal;

  &:hover {
    cursor: pointer;
  }
}

.progress-bar-container {
  height: 20px;
  background-color: transparentize($night, 0.7);
  border-radius: 10px;
  width: 100%;
}

.progress-bar {
  height: 20px;
  width: 0%;
  max-width: 100%;
  float: left;
  border-radius: 10px;
  background-color: $electric;
}

@-webkit-keyframes progress {
    from { }

    to { width: 100% }
}

@-moz-keyframes progress {
    from { }

    to { width: 100% }
}

@-ms-keyframes progress {
    from { }

    to { width: 100% }
}

@keyframes progress {
    from { }
}
