.event-container {
  @extend %justify-content-flex-start;
  @extend %align-items-flex-start;
  @include add-flex(row, nowrap);

  &:nth-child(n+3) {

    .event-date {
      padding-top: 30px;
    }

    .event-text {
      padding-top: 24px;
    }
  }

  &:nth-child(2) {

    .event-date {
      padding-top: 20px;
    }

    .event-text {
      padding-top: 14px;
    }
  }

  &:last-child {

    .event-date,
    .event-text {
      padding-bottom: 10px;
    }
  }
}

.event-container {
  border-right: $single-border transparent;
  padding-left: 4vmax;
  padding-right: 4vmax;
}

.event-date {
  @extend %align-items-center;
  @extend %justify-content-flex-end;
  @include add-flex(row, nowrap);
  @include flex(1, 1, 70px);
  margin-right: -6px;
  margin-top: -.75rem;
  max-width: 200px;

  h2 {
    padding: 3px 5px;
  }

  .date-box-line {
    @include flex(1, 2, 5vw);
  }
}

.event-dot {
  @include border-radius(50%);
  z-index: 25;
}

.event-text {
  @include flex(3, 1, 240px);
  max-width: 780px;
  padding-left: 20px;
}

@mixin event-container($text-color, $highlight-color, $border-color) {

  .event-container:last-child {
    border-right: $single-border $border-color;
    border-bottom: $single-border $border-color;
    padding-bottom: 4vh;
  }

  .event-date {

    h2 {
      border: $single-border $highlight-color;
      color: $text-color;
    }

    .date-box-line {
      border-top: $single-border $highlight-color;
    }
  }

  .event-text {
    border-left: $single-border $text-color;
  }
}

@mixin event-dot($color1, $color2, $diameter) {
  @include box-shadow(
    0 0 0 #{$diameter / 4} $color2,
    0 0 0 #{$diameter / 3} $color1
  );
  background-color: $color1;
  height: $diameter;
  width: $diameter;
}

// SKELETON
// <div class="event-container">
//     <div class="event-date">
//     <h2>{date}</h2>
//     <div class="date-box-line"></div>
//     <div class="event-dot"></div>
//   </div>
//   <div class="event-text">
//     {summary}
//   </div>
// </div>
